.profileContainer{
    // align-content: center; 
    color: #555554; 
    margin-top: 2rem;
    background-color: #dddcdb;
    height: calc(100vh - 4rem);
    border-radius: 5px;
    .row{
        margin-top: 1rem;
        .colTitle{
            text-align: right;
            padding-right: 1rem !important;
            border-right: 1px solid black;
        }
        .colDesc{
            padding-left: 1rem !important;
        }
        .title{
            width: 100%;
            // text-align: center;
        }
        // .img{
        //     width: 100%;
        //     text-align: center;
        // }
        img{
            height: 200px;
            width: 200px;
        }
    }
    .titleRow{
        text-align: center;
        display: block !important;
    }
    // .empty{
    //     height: 40vh;
    // }
}