#root{
    height: 100vh;
    width: 100vw;
    background-color: #2a2a2a;
}
@media (min-width: 1200px){
    .container{
        max-width: 100vw !important;
        .sidemenuContainer{
            .nameLogo{
                font-size: 1.35rem;
                
            }
        }
    }
}
.container{
    // height: 100%;
    // width: 100%;
    margin-left: 0rem !important;
    margin-right: 0rem !important;
    .sideContainer{ 
        background-color: #2a2a2a;
        height: 100vh;
        padding-right: 0rem;
        padding-left: 0rem;
        width: 5rem;
    }
    .mainContainer{
        padding-right: 0rem;
        padding-left: 0rem;
        margin-right: 2rem;
    }
    .emptyRight{
        background-color: #2a2a2a;
        height: 100vh;
        padding-right: 0rem;
        padding-left: 0rem;
    }
    
}
.col{
    padding-right: 0rem !important;
    padding-left: 0rem !important;
}

