.sidemenuContainer{
    .nameLogo{
        padding-top: 45%;
        padding-bottom: 45%;
        align-items: center;
        color: #d6d7d8;
        justify-content: center;
        .leName{
            align-self: center;
        }
    }
    .sideLink{
        height: 3rem;
        // border-top: 1px solid black;
        a{
            height: 100%;
            width: 100%;
            text-align: center;
            line-height: 275%;
            display: block;
            color: #d6d7d8;
        }
        a:hover{
            background-color: #51514f;
            text-decoration: none;
        }
    }
    .last{
        // border-bottom: 1px solid black;
    }
}

